* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: #f0ebeb;
}

a {
  text-decoration: none;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*screen mobile*/
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}

#header {
  background: #ffc300;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header #logo {
  font-size: 3em;
  padding: 20px 0;
  font-weight: bold;
  color: #4d4d4d;
  order: 2;
}
header #logo span {
  color: #fff;
}

header #menu-icon div {
  width: 35px;
  height: 5px;
  background: #fff;
  margin: 6px 0;
  order: 1;
}

header #pesquisa-icon {
  order: 3;
}
header #pesquisa-icon img {
  width: 45px;
}
header nav {
  display: none;
}

/*Area de posts*/
#conteudo {
  width: 95%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#conteudo .post {
  background: #fff;
  width: 95%;
  margin: 20px 0;
  padding: 20px;
}
#conteudo .post h2 {
  color: #ffc300;
  padding: 1px;
}
#conteudo .post span {
  color: #4d4a51;
  font-size: 0.9em;
  margin-bottom: 10px;
  padding: 0;
  display: block;
}
#conteudo .post img {
  width: 98%;
}
#conteudo .post a {
  display: none;
}

/*Area lateral*/

/*lateral-pesquisae*/
.lateral-pesquisar {
  display: none;
}

/*lateral - posts relacionados*/
.lateral {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: center;
}
.lateral .conteudo-lateral {
  background: #fff;
  width: 90%;
  padding: 10px;
  margin: 15px 15px 15px 0;
}
.lateral .texto {
  padding: 5px 0;
  border-bottom: 1px solid #dadada;
}
.lateral .divisor-texto {
  border: none;
}
.lateral .texto h3 {
  background: #dadada;
  padding: 10px;
  text-align: center;
}
.lateral .texto p {
  padding: 5px;
  margin: 3px;
}
.lateral .texto a {
  display: none;
}
.lateral .divisor {
  background: #dadada;
  height: 1px;
}

/*lateral - categorias*/
.categoria {
  background: #fff;
  width: 90%;
  margin: 15px 15px 15px 0;
  padding: 10px;
}
.categoria h3 {
  background: #dadada;
  padding: 10px;
  text-align: center;
}
.categoria li {
  list-style-type: none;
  border-bottom: 1px solid #dadada;
}
.categoria .ultimo {
  border: none;
}
.categoria a {
  color: #4a4a51;
  text-decoration: none;
  margin: 5px;
  padding: 8px;
  display: block;
  text-align: center;
}

footer {
  background: #4a4a51;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/*screen tablet*/
@media only screen and (min-width: 600px) {
  /*screen teblet*/
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
  .lateral-pesquisar {
    display: none;
  }
}

/*Screen desktop*/
@media only screen and (min-width: 1125px) {
  /*screen desktop*/
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  header,
  .row {
    min-width: 1436px;
    display: flex;
    justify-content: center;
  }
  #header {
    background: #ffc300;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  header #logo {
    font-size: 3em;
    padding: 20px 0;
    font-weight: bold;
    color: #4d4d4d;
    position: absolute;
    left: 340px;
    order: 1;
  }
  header #logo span {
    color: #fff;
  }

  header #menu-icon div {
    display: none;
  }

  header #pesquisa-icon {
    display: none;
  }
  header #nav {
    position: absolute;
    right: 350px;
    display: block;
    order: 2;
  }
  header #nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    padding: 5px 10px;
  }
  header #nav a:hover {
    color: #4d4d4d;
  }

  #conteudo {
    width: 95%;
    margin-left: 80px;
  }
  #conteudo .post a {
    color: #ffc300;
    display: block;
    margin: 5px 0;
  }
  #conteudo .post a:hover{
    color: #4d4d4d;
  }

  .lateral {
    width: 80%;
  }
  .lateral-pesquisar {
    background: #fff;
    width: 72%;
    padding: 10px;
    margin: 20px 15px 10px 10px;
    display: block;
  }
  .lateral-pesquisar input {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    border: 1px solid #dadada;
  }
  .lateral-pesquisar input,
  input::-webkit-input-placeholder {
    font-size: 1em;
    color: #a3a3a3;
  }
  .lateral .texto a{
    display: block;
    color: #ffc300;
    margin: 3px;
    padding: 5px;
  }
  .lateral .texto a:hover{
    color: #4d4d4d;
  }
  .categoria li:hover{
    background: #ffc300;
    
  }
  .categoria li a:hover{
    color: #fff;
  }
}
