* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  background: #f0ebeb;
}
a{
  text-decoration: none;
}

/* sceen Mobile*/
@media only screen and (max-width:767px){
  [col*="col-"]{
    width: 100%;
  }
  
  header {
    background: #ffc300;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  header #logo {
    font-size: 3em;
    padding: 20px 0;
    font-weight: bold;
    color: #4d4d4d;
    order: 2;
  }
  span {
    color: #fff;
  }

  header #menu-icon div{
    width: 35px;
    height: 5px;
    background: #fff;
    margin: 6px 0;
    order: 1;
  }

  header #pesquisa-icon{
    order: 3;
  }
  header #pesquisa-icon img{
    width: 45px;
  }
  header nav{
    display: none;
  }
}
